<h2>Websockets</h2>
<hr>

<input type="text" id="mensaje" placeholder="ingrese mensaje">
<div id="mensajes"></div>

<br><br>

<a href="/">Home Page</a>


<script src="socket.io/socket.io.js"></script>
<script src="js/ws.js"></script>