<h2>Websockets</h2>
<hr>
<div id="temperatura"></div>
<br><br>

<ul id="heroes"></ul>
<br><br>

<a href="/">Home Page</a>


<script src="socket.io/socket.io.js"></script>
<script src="js/ws.js"></script>